### In Class Assignment 1
For each column in the dataset `middle.csv`:
1. identify
1. compute
1. justify 

which of the 

- mean
- median
- mode 

is the best measure of the average of the data.

In [1]:
import pandas as pd

df = pd.read_csv('middle.csv')
df

    x        y  zip code
0 -10      0.1      2215
1  10      1.0      2215
2 -10     10.0      2215
3  10    100.0      2130
4 -10   1000.0      2130
5  10  10000.0     90210

In [2]:
# means of x, y, and zip code
df.mean()

x               0.00
y            1851.85
zip code    16852.50
dtype: float64

In [3]:
# medians of x, y, and zip code
df.median()

x              0.0
y             55.0
zip code    2215.0
dtype: float64

In [4]:
# mode of x
df['x'].value_counts()

-10    3
 10    3
Name: x, dtype: int64

In [5]:
# mode of y
df['y'].value_counts()

0.1        1
1.0        1
10.0       1
100.0      1
1000.0     1
10000.0    1
Name: y, dtype: int64

In [6]:
# mode of zip code
df['zip code'].value_counts()

2215     3
2130     2
90210    1
Name: zip code, dtype: int64

In [7]:
# The best measure of average data for x is mean since it represents the data.
# The best measure of average data for y is median since it represents the spread of the data.
# The best measure of average data for the zip code is mode since the data is categorical.

## In Class Assignment # 2

    set A: 4, 6, 8, 6, 2, 10

    set B: -100, 100, -100, 100

1. Using your intuition and the definitions of sample mean and sample variance, tell which set:
- has the largest sample mean
- has the largest sample variance

2. Then, with pencil and paper, compute the sample mean and sample variance of each.

3. Finally, use pandas to compute the sample mean and variance of each set of numbers above

In [8]:
# A will have the largest sample mean 
# B will have the largest sample variance

In [9]:
# mean of set A
a_mean = (4 + 6 + 8 + 6 + 2 + 10) / 6

# mean of set B 
b_mean = (-100 + 100 + -100 + 100) / 4

print('Set A mean:', a_mean, '|', 'Set B mean:', b_mean)

Set A mean: 6.0 | Set B mean: 0.0

In [10]:
# variance of set A
a_var = (((4-6)**2)+((6-6)**2)+((8-6)**2)+((6-6)**2)+((2-6)**2)+((10-6)**2))/(6-1)

# variance of set B
b_var = (((0+100)**2)+((0-100)**2)+((0+100)**2)+((0-100)**2))/(4-1)

print('Set A variance:', a_var, '|', 'Set B variance:', b_var)

Set A variance: 8.0 | Set B variance: 13333.333333333334

In [11]:
df_A = pd.DataFrame()
df_B = pd.DataFrame()

df_A['A'] = (4, 6, 8, 6, 2, 10)
df_B['B'] = (-100, 100, -100, 100)

In [12]:
df_A.mean()

A    6.0
dtype: float64

In [13]:
df_B.mean()

B    0.0
dtype: float64

In [14]:
df_A.var()

A    8.0
dtype: float64

In [15]:
df_B.var()

B    13333.333333
dtype: float64

## In Class Assignment # 3

<img src="https://cran.r-project.org/web/packages/palmerpenguins/readme/man/figures/culmen_depth.png" width=40%>
img source: https://cran.r-project.org/web/packages/palmerpenguins/readme/man/figures/culmen_depth.png

Load the `penguin_vary_unit.csv` dataset.  Answer the following questions by showing your computations for each in a jupyter cell.
1. Typically, which is bigger on the 'average' (mean) penguin within the dataset?
    - bill depth
    - flipper length
1. Typically, which measurement is closer to its corresponding average?  (heads up: this one is sneaky!)
    - bill depth
    - flipper length

In [16]:
import pandas as pd

# flippers are bigger than bills on the average penguin:
df_penguin = pd.read_csv('penguin_vary_unit.csv')

In [17]:
df_penguin

,species,island,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_feet
0,Adelie,Torgersen,18.7,181.0,3750.0,MALE,0.128281
1,Adelie,Torgersen,17.4,186.0,3800.0,FEMALE,0.129593
2,Adelie,Torgersen,18.0,195.0,3250.0,FEMALE,0.132218
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,19.3,193.0,3450.0,FEMALE,0.120407
...,...,...,...,...,...,...,...
147,Adelie,Dream,18.4,184.0,3475.0,FEMALE,0.120079
148,Adelie,Dream,17.8,195.0,3450.0,FEMALE,0.118110
149,Adelie,Dream,18.1,193.0,3750.0,MALE,0.124016
150,Adelie,Dream,17.1,187.0,3700.0,FEMALE,0.118110
151,Adelie,Dream,18.5,201.0,4000.0,MALE,0.136155

In [18]:
# mean bill depth
df_penguin['bill_depth_mm'].mean()

18.346357615894043

In [19]:
# mean flipper length
df_penguin['flipper_length_mm'].mean()

189.95364238410596

In [20]:
# flipper length is typically bigger for the average penguin

In [21]:
# bill depth variance
df_penguin['bill_depth_mm'].var()

1.4802366445916115

In [22]:
# flipper length variance
df_penguin['flipper_length_mm'].var()

42.76450331125828

In [23]:
# bill depth is typically closer to its corresponding average since the variance is smaller