# ICA 5

## Problem 1

In [1]:
import pandas as pd

df_bikes = pd.read_csv('201909-bluebike-clean.zip')

In [2]:
df_bikes.head()

,Unnamed: 0,tripduration,starttime,startday,starthour,dayofweek,distance,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,0,916,2019-09-01 00:00:21.2560,2019-09-01,0,6,1.144749,9,Commonwealth Ave at Agganis Way,42.351692,-71.119035,33,Kenmore Square,42.348706,-71.097009
1,1,394,2019-09-01 00:00:33.0140,2019-09-01,0,6,0.858182,189,Kendall T,42.362428,-71.084955,178,MIT Pacific St at Purrington St,42.359573,-71.101295
2,2,480,2019-09-01 00:00:52.4870,2019-09-01,0,6,0.556982,9,Commonwealth Ave at Agganis Way,42.351692,-71.119035,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279
3,3,800,2019-09-01 00:01:05.5390,2019-09-01,0,6,1.912004,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,199,Upham's Corner T Stop - Magnolia St at Dudley St,42.318697,-71.069781
4,4,758,2019-09-01 00:01:13.4250,2019-09-01,0,6,1.224275,56,Dudley Square - Dudley St at Warren St,42.329843,-71.083866,55,Boylston St at Massachusetts Ave,42.347265,-71.088088

In [3]:
# how many bike trips are in the dataset total
df_bikes.shape

(361143, 15)

In [4]:
# how many bike trips are in the dataset total
len(df_bikes)

361143

In [5]:
# what period of time does the data represent
sorted(df_bikes['startday'].unique())

['2019-09-01',
 '2019-09-02',
 '2019-09-03',
 '2019-09-04',
 '2019-09-05',
 '2019-09-06',
 '2019-09-07',
 '2019-09-08',
 '2019-09-09',
 '2019-09-10',
 '2019-09-11',
 '2019-09-12',
 '2019-09-13',
 '2019-09-14',
 '2019-09-15',
 '2019-09-16',
 '2019-09-17',
 '2019-09-18',
 '2019-09-19',
 '2019-09-20',
 '2019-09-21',
 '2019-09-22',
 '2019-09-23',
 '2019-09-24',
 '2019-09-25',
 '2019-09-26',
 '2019-09-27',
 '2019-09-28',
 '2019-09-29',
 '2019-09-30']

In [6]:
# how many different stations did users start at
df_bikes_start_stations = df_bikes['start station name'].unique()
len(df_bikes_start_stations)

328

In [7]:
# what was the average latitude for a starting station
df_bikes['start station latitude'].mean()

42.35702935987539

In [8]:
# what was the average longitude for a starting station
df_bikes['start station longitude'].mean()

-71.08852011303388

In [9]:
# how many bike trips are taken on a typical day
df_bikes_weekday = df_bikes.loc[:, 'dayofweek']
df_bikes_weekday

0         6
1         6
2         6
3         6
4         6
         ..
361138    0
361139    0
361140    0
361141    0
361142    0
Name: dayofweek, Length: 361143, dtype: int64

In [10]:
# total number of mondays
len(df_bikes.loc[df_bikes_weekday == 0, :])

57932

In [11]:
# total number of mondays 
(df_bikes['dayofweek'] == 0).sum()

57932